.companies{
    margin-top: 30px;
    position: relative;
    &__bg{
        position: absolute !important;
        bottom: -314px;
        right: -177px;
        z-index: 0 !important;
      }
      &__container{
        position: relative;
        z-index: 0;
        & > *{
            z-index: 1;
            position: relative;
        }
      }
    &_slider{
        margin-top: 15px;
        &:first-child{
            margin-top: 0;
        }
    }
}

.company{
    &__slide{
        max-width: 204px;
        width: 100%;
        height: 100px !important;
        border-radius: 12px;
        background: #f6f8fd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}