@use "/resources/scss/components/product/product_tip.scss";

.product_info {
  border-radius: 12px;
  border: 1px solid #dfe3ee;
//   padding-bottom: 30px;
  &__tips {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    max-width: 100%;
    gap: 5px;
    flex-wrap: wrap;
  }
  *[class*=__container] {
    margin: 0 30px;
    width: calc(100% - 60px);
}
}
