.product_result_processing {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
  &__actions {
    display: flex;
    gap: 10px;
    width: 100%;
    .btn:last-child {
      width: 100%;
    }
    .btn.btn_upend{
      width: 100%;
    }
    &_phone{
      width: 100%;
      display: none;
      position: relative;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
      svg{
        fill: #9096A7;
        position: absolute;
        left: 15px;
        top: 9px;
      }
      input{
        padding-left: 50px;
        cursor: pointer;
      }
    }
  }
}
