.descr {
  padding-top: 67px;
  display: flex;
  gap: 0 81px;
  align-items: center;
  z-index: 1;
  position: relative;

  &__left {
    &_item {
      padding-bottom: 52px;
      display: flex;
      gap: 0 20px;
      position: relative;
      align-items: center;
      &:last-child{
        padding-bottom: 0;
      }

      &:not(&:last-child)::after {
        content: "";
        position: absolute;
        left: 25px;
        top: 55px;
        height: calc((100% - 60px));
        background-color: #cc222e;
        width: 2px;
        transform: translateX(-50%);
      }
    }

    &_icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #cc222e;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    &_text {
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px 0;
    &_text {
      font-size: 44.29px;
      max-width: 596px;
      padding: 0 65px 0 58px;
      position: relative;
      text-align: center;
      z-index: 5;
      font-weight: 700;
      &::before {
        content: "ЭТО ЕЩЕ НЕ ВСЕ";
        position: absolute;
        left: 50%;
        top: -27px;
        transform: translateX(-50%);
        font-weight: 900;
        font-size: 64.31px;
        color: #fff;
        -webkit-text-stroke: 1px #e22046;
        text-stroke: 1px #e22046;
        text-wrap: nowrap;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1050px) {
  .descr {
    gap: 0 20px;
    justify-content: space-between;
    &__left_text {
      font-size: 16px;
    }

    &__right {
      &_text {
        font-size: 28px;
        max-width: 480px;
        padding-right: 36px;

        &::before {
          font-size: 40px;
          top: -18px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .descr {
    flex-direction: column;
    gap: 40px 0;

    &__right_text {
      max-width: 300px;
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  .descr {
    padding-top: 40px;
    &__left {
      &-item {
        gap: 0 10px;
        padding-bottom: 35px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__right_text {
      max-width: 200px;
      font-size: 18px;

      &::before {
        font-size: 24px;
        top: -10px;
      }
    }
  }
}
