.product_menu_block__description {
    &.activ {
        display: block;
    }
    &_content {
        p {
            color: #8e95a6;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
