.product_menu_block__documentations {
    &_content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 15px;
    }
    &_list {
        h3 {
            font-size: 18px;
            font-weight: 600;
            color: #16161f;
        }
        a {
            font-size: 18px;
            font-weight: 400;
            transition: all 0.4s;
            color: #8e95a6;
            display: flex;
            align-items: center;
            gap: 5px;
            svg {
                fill: #8e95a6;
                transition: all 0.4s;
            }
            &:hover {
                color: #de002b;
                svg {
                    fill: #de002b;
                }
            }
        }
    }
}
