.product_menu_block {
  margin-top: 20px !important;
  padding: 0;
  margin-bottom: 20px !important;
  &__title {
    color: #16161f;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
  }
  & > *{
    display: none;
  }
}
