/assets/actions/previews/*
!/assets/actions/previews/[1-9].png
/assets/banners/*
!/assets/banners/[1-9].webp
/assets/categories/previews/*
!/assets/categories/previews/[1-9].png
/assets/companies/logo/*
!/assets/companies/logo/[1-9].svg
/assets/contacts/photo/*
!/assets/contacts/photo/[1-9].png
/assets/news/preview/*
!/assets/news/preview/[1-9].png
/assets/product/miniature/*
!/assets/product/miniature/test.png
!/assets/product/miniature/default.jpg
/assets/product/photo/*
!/assets/product/photo/test.png
!/assets/product/photo/default.jpg
/assets/user/avatar/*
!/assets/user/avatar/defult.svg
/assets/product/review/*
!/assets/product/review/test.mp4
!/assets/product/review/test.webp
/assets/companies/media/*
!/assets/companies/media/1.png
