.support_button{
    width: 60px;
    height: 60px;
    background: #DE002B;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: calc((100vw - 1160px) / 2 + 10px);
    bottom: 30px;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 10;
    &:hover {
        opacity: 0.7;
    }
    img {
        animation: turn linear 6s infinite;
    }
    @media (max-width: 1200px) {
        bottom: 85px;
        right: 30px;
    }
}

@keyframes turn {
    0% {
        transform: rotateY(360deg);
    }
    30% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}