.breadcrumb {
    margin-top: 15px;
    position: relative;
    &__lists {
        display: flex;
        gap: 4px;
        align-items: center;
        * {
            display: contents;
        }
    }
    &__link {
        font-size: 18px;
        font-weight: 400;

        color: #8e95a6;
        transition: all 0.3s linear;

        &.start {
            color: #16161f;
        }

        &.active,
        &:hover {
            color: #c92222;
        }
    }
}
