.empty_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    h1 {
        max-width: 360px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }

    p {
        max-width: 380px;
        font-size: 16px;
        margin: 4px 0;
        line-height: 24px;
        text-align: center;
    }
    & > a {
    }
}
