@use "/resources/scss/components/product/product_cart_favorite.scss";
@use "/resources/scss/components/product/product_tip.scss";
@use "block/guest.scss";
@use "block/product_list.scss";
@use "block/recipient.scss";
@use "block/payment_list.scss";
@use "block/shipping_method.scss";

.cart_blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    color: #16161f;
  }
}

.product_card__favorite{
    position: relative;
    top: 0px;
    right: 0px;
}

.product_card__head_tips{
    margin-bottom: 0;
    align-items: center;
    align-content: flex-start;
    span{
        padding: 5px 10px;
    }
}
