.select2_more {
  &__item {
    background: #e8eaf3;
    padding: 11px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    display: flex;
    align-items: center;
    color: #16161f;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}