.dataTable__wrapper.dataTable__wrapper.dataTable__wrapper.dataTable__wrapper.dataTable__wrapper {
  font-family: "SF Pro Display";

  .dt-search label {
    display: none;
  }
  .dt-search.dt-search input {
    border: none;
    border-radius: 6px;
    padding: 10px;
    background: #e8eaf3;
    // padding-left: 30px;
  }
  //
  .dt-length label {
    font-size: 0;
  }
  //
  .order__tabel, .dt-input{
    border: none;
    outline: none;
  }
  //
  .dt-body-left {
    text-align: left;
  }
  .dt-body-right {
    text-align: right;
  }
  tr {
    th,
    td {
      border-color: #dfe3ee;
      border-style: solid;
      border-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      border-bottom-width: 0;
      outline: none !important;
      padding: 20px 25px;
      padding-right: 30px;
    }
  }
  thead tr:first-child th:not(.dtr-hidden) {
    // &:first-child{
    //     border-radius: 12px 0 0 0;
    // }
    // &:last-child{
    //     border-radius: 0 12px 0 0;
    // }
  }
  tbody tr:last-child td:not(.dtr-hidden) {
    // &:first-child{
    //     border-radius: 0 0 0 12px;
    // }
    // &:last-child{
    //     border-radius: 0 0 12px 0;
    // }
  }
  .dt-column-title {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #16161f;
  }
  td {
    color: #16161f;
  }
  table {
    border-radius: 12px;
    border: 1px solid #dfe3ee;
  }

  .dt-body-left{
    border-left: none;
  }

  .dt-body-right{
    border-right: none;
  }

  thead th{
    border-top: 0;
  }

  tbody tr:nth-child(2n+1){
    background: #F3F5F8;
  }

  //

  .child .dt-body-right {
    text-align: left;
  }

  //

  .dt-layout-row .dt-info {
    font-size: 12px;
  }

  .dt-paging-button {
    background-color: rgba(22, 22, 31, 0.0392156863);
    display: inline-block;
    color: #16161f !important;
    vertical-align: top;
    border-radius: 4.348px;
    margin: 0 1px 0 2px;
    font-size: 14px !important;
    cursor: pointer;
    padding: 5px 8px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border: 0;
    box-shadow: none;
    &:hover,
    &.current {
      background: #c92222;
      color: #fff !important;
    }
    &.first,
    &.last {
      display: none;
    }

    &.next,
    &.previous {
      font-size: 0 !important;
      padding: 0px;
      height: 27px;
      &::after {
        content: "";
        background: url("/resources/js/custom/datatebel/img/arrow.svg") center
          no-repeat;
        padding: 5px 12px;
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.previous {
      transform: rotate(180deg);
    }
  }
  .dt-layout-row{
    display: flex;
  }
  @media screen and (max-width: 767px) {
    .dt-layout-cell{
        text-align: left;
    }
  }
}
